
<!-- cart -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove" ></th>
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-body-row" *ngFor="let item of cartProduct; let index= index">
                                <td class="product-remove" >
                                    <a (click)="deleteProduct(index)"><i class="far fa-window-close" ></i></a>
                                
                                </td>
                                <td class="product-image"><img src="{{item.item.image}}" alt=""></td>
                                <td class="product-name">{{item.item.title}}</td> 
                                <td class="product-price">{{item.item.price}}</td>
                                <td class="product-quantity"><input type="number" min="1" (click)="getCartTotal()" (change)="detectChange()" [(ngModel)]="item.quantity"></td>
                                <td class="product-total" >{{item.item.price * item.quantity}}</td>
                            </tr>
        
                           
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Subtotal: </strong></td>
                                <td>{{total}}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Shipping: </strong></td>
                                <td>$45</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td>${{total + 45}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="section-title">

                        <p>You have <label>{{cartProduct.length}}</label> item in your cart</p>
                    </div>
                    <div class="cart-buttons"  >
                        <a (click)="clearCart()" class="boxed-btn">Clear Cart</a>
                        <a class="boxed-btn black" (click)="addCart()">Oredr Now</a>
                    </div>
                </div>

                <div class="coupon-section">
                    <h3>Apply Coupon</h3>
                    <div class="coupon-form-wrap">
                        <form action="index.html">
                            <p><input type="text" placeholder="Coupon"></p>
                            <p><input type="submit" value="Apply"></p>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


<div class="alert alert-success" *ngIf="success" role="alert"><strong>Well done!</strong> Your order is successfully sent</div>


