<div class="card product-item border-0 mb-4">
    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
        <img class="imgsetting" src="{{data.image}}" alt="">
    </div>
    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
        <h6 class="text-truncate mb-3">{{data.title}}</h6>
        <div class="d-flex justify-content-center">
            <h6>${{data.price}}</h6><h6 class="text-muted ml-2"></h6>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between bg-light border">
        <a routerLink="/details/{{data.id}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1" ></i>View Detail</a>
        <a *ngIf="!addButton" (click)="addButton= true" class="btn btn-sm text-dark p-0" ><i class="fas fa-shopping-cart text-primary mr-1" ></i>Add To Cart</a>

       <div class="d-felx w-40" *ngIf="addButton" >

        <input type="number" class="form-control"  [(ngModel)]="amount" min="1">
        <button class="btn btn-danger" (click)="add(); addButton=false" >Add</button>
       </div>

    </div>
</div>
